export("ugPlot")
export("ugPlotCheckModelDeps")
export("ugPlotInstallModelDeps")
export("ugPlotInstallServerDeps")
export("ugPlotScienceCollab")
export("ugPlotScienceCollabStart")
export("ugPlotScienceCollabStatus")
export("ugPlotScienceCollabStop")
export("ugPlotServer")
export("ugPlotServerStart")
export("ugPlotServerStatus")
export("ugPlotServerStop")
import("shiny", except=c(dataTableOutput, renderDataTable))
import("shinyWidgets")
import("shinyjs", except=c(alert, runExample))
import("shinybusy")
import("ggplot2")
import("heatmap3")
import("DT")
import("gplots")
import("viridis")
import("RColorBrewer")
import("dendextend")
import("pheatmap")
import("randomForest", except = c("combine", "margin"))
import("ggExtra", except = "runExample")
import("gridExtra", except = "combine")
import("ConsensusClusterPlus")
import("glmnet")
import("plotly", except=c(last_plot))
import("tidyr")
import("caret")
importFrom("base64enc", "dataURI")
importFrom("parallel", "makeCluster", "detectCores","stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("grDevices", "colorRampPalette", "dev.off", "rainbow", "recordPlot", "replayPlot", "tiff")
importFrom("graphics", "abline", "barplot", "hist", "legend", "par", "plot.new", "text")
importFrom("stats", "as.dist", "as.formula", "ave", "cmdscale", "complete.cases", "cor", "IQR", "median", "model.matrix", "predict", "reorder", "setNames", "var")
importFrom("utils", "capture.output", "head", "install.packages", "installed.packages", "read.table", "write.csv")
importFrom("R.utils", "withTimeout")

import("gam")
